/*
!/README.md
!/.gitmodules
!/.vimrc
!/.vim/
!/Library
/Library/*
!/Library/Application Support
/Library/Application Support/*
!/Library/Application Support/Sublime Text 2
/Library/Application Support/Sublime Text 2/Settings/License.sublime_license
